@import "../../responsive.scss";


.profileContainer{
    display: flex;
    height: 100%;

    @include md{
        flex-direction: column;
        overflow-y: scroll;
    }


    .details{
        flex: 3;
        overflow-y: scroll;
        padding-bottom: 50px;

        @include md{
           flex: none;
           height: max-content;
        }

        .wrapper{
            padding-right:  50px;
            display: flex;
            flex-direction: column;
            gap: 50px;

            .title{
                display: flex;
                justify-content: space-between;
                align-items: center;

                h1{
                    font-weight: 300;
                }

                button{
                    padding: 12px 24px;
                    background-color: #fece51;
                    border: none;
                    cursor: pointer;
                }
            }

            .info{
                display: flex;
                flex-direction: column;
                gap: 20px;

                span{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }

                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
    }

    .details::-webkit-scrollbar {
        width: 6px;
        /* Width of the scrollbar */
    }

    .details::-webkit-scrollbar-track {
        background: #ffffff;
        /* Background color of the track */
        border-radius: 8px;
        /* Rounded corners of the track */
    }

    .details::-webkit-scrollbar-thumb {
        background: #888;
        background: #f1f1f1;
        /* Color of the scrollbar thumb */
        border-radius: 8px;
        /* Rounded corners of the thumb */
    }

    .details::-webkit-scrollbar-thumb:hover {
        background: #555;
        background: #f1f1f1;
        /* Color of the scrollbar thumb when hovered */
    }

    .chatContainer{
        flex: 2;
        height: 100%;
        background-color: #fcf5f3;

        @include md{
            flex: none;
            height: max-content;
         }

        .wrapper{
            padding:  0px 20px;
            height: 100%;
        }
    }
}